*{
    margin: 0px 0px;
    padding: 0px 0px;
}

header{
    background-color: rgb(204, 204, 204);
}

h1{
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: auto;
    font-weight: bold;
    color: #FEFEFE;
}

body{
    background-color: #FC0002;
}

main{
    background-color: #FC0002;
}
.frames{
    background-color: #027F00;
    padding: 50px 20px;
    margin: 20px;
}

h2{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 800px;
}

p{
    padding: 0px 800px;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    background-color: rgb(102, 102, 102);
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 770px;
    color: #FEFEFE;
}

