/* SELECIONA TODOS OS ELEMENTOS */
*{
    margin: 0px;
    padding: 0px;
}

/* SELETOR POR TAG */
body{
    background-color: rgba(255, 217, 0, 0.322);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

/* SELETOR POR ID */
/* use "#" para ID */
#topo{
    background-color: rgb(255, 193, 190);
    padding: 10px;
    /* margin com 2 numeros: Ypx Xpx */
    margin: 15px 0px;
    border: 3px solid rgb(255, 174, 0);
    border-radius: 10px;
}

/* SELETOR POR CLASSE */
/* use "." para usar classe */
.textop{
    font-style: italic;
    text-decoration: underline;
    font-size: 26px;
    background-color: rgb(236, 215, 255);
    font-weight: 700;
    color: brown;
}

/* estiliza os elementos com a classe bloco */
.bloco{
    background-color: rgb(170, 212, 255);
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid rgb(0, 38, 255);
    border-radius: 20px;
}
.destaque{
    background-color: gold;
}

.texto-destaque{
    font-weight: bold;
    color: darkred;
}

#caixa-unica{
    padding: 10px;
    border: 2px solid rgb(128, 0, 128);
    background-color: #ede9fe;
}

/* SELECIONA TODOS OS "p" QUE ESTÃO DENTRO DE UMA DIV */
div p{
    color:blue;
}

/* SELECIONA TODOS O 'p' QUE SÃO FILHOS DIRETOS DA CLASS ESPECÍFICA */
.pai-direto > p{
    color: crimson;
    padding: 5px;
}

/* SELECIONA TODO O 'p' QUE LOGO APÓS UM H3, DESDE QUE SEJA IRMÃO */
h3 + p{
    color: darkmagenta;
    font-weight: bold;
}

/* SELECIONA TODOS OS 'p' QUE VEM APÓS O H4, DESDE QUE SEJAM IRMÃOS */
h4 ~ p{
    background-color: blueviolet;
    color: aquamarine;
}

/* SELECIONAR POR ATRIBUTOS ESPECÍFICOS */


/* SELECIONA TODOS OS INPUTS, QUE TENHAM O TIPO DE TEXTO */
input[type="text"]{
    border: 2px solid orange;
    padding: 8px;
    margin-right: 10px;
}

/* SELECIONA TODOS OS LINKS QUE TENHAM ESSE VALOR NO href */
a[href*="microsoft"]{
    color: green;
    font-weight: bolder;
}

/* MESMO ESTILO PRA DUAS TAGS, OU MAIS */
h5, h6{
    color: magenta;
    margin: 5px 0px;
    font-weight: bolder;
}

/* SELECIONA O ELEMENTO QUE TEM AS DUAS CLASSES AO MESMO TEMPO */
.botao.ativo{
    color: rgb(153, 0, 255);
    font-size: 20px;
    padding: 50px;
}

/* SELECIONA O 'p' DESDE QUE TENHA A CLASS AVISO */
p.aviso{
    color: lime;
}

/* SELECIONA APENAS A DIV QUE TENHA O ID PAINEL */
div#painel{
    background-color: peru;
    padding: 10px;
}

/* SELECIONANDO FILHO DENTRO DE FILHO */
#menu ul li a{
    color: rgb(255, 238, 0);
}